.tile {
  display: grid;
  place-content: center;
  width: var(--tile-size);
  height: var(--tile-size);
}

.tile img {
  width: var(--tile-size);
}

.tile .chess-piece {
  width: var(--chess-piece-size);
  height: var(--chess-piece-size);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--chess-piece-size);
}

.tile .chess-piece.cursor-grab:hover {
  cursor: grab;
}

.tile .chess-piece.cursor-pointer:hover {
  cursor: pointer;
}

.tile .chess-piece:active {
  cursor: grabbing;
}

.dark-tile {
  background-color: #ababab;
}

.light-tile {
  background-color: #dcdcdc;
}

.useless {
  background-color: black;
}

.tile-highlight:not(.chess-piece-tile)::before {
  content: ' ';
  width: var(--tile-highlight-size);
  height: var(--tile-highlight-size);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.tile-highlight.chess-piece-tile::before {
  position: fixed;
  content: ' ';
  width: var(--tile-highlight-chess-piece-size);
  height: var(--tile-highlight-chess-piece-size);
  border: 2.5px solid rgba(0, 0, 0);
  border-radius: 50%;
}
