#chessboard {
  display: grid;
  grid-template-columns: repeat(14, var(--tile-size));
  grid-template-rows: repeat(14, var(--tile-size));
  width: calc(var(--tile-size) * 14);
  height: calc(var(--tile-size) * 14);
  background-color: black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 20;
}

.modal.hidden {
  display: none;
}

.modal > .modal-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  height: 20vh;
  width: calc(var(--tile-size) * 14);
  background-color: rgba(0, 0, 0, 0.75);
}

.modal > .modal-body > img {
  width: 100%;
  padding: 10px;
  border-radius: 50%;
}

.modal > .modal-body > img:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.modal > .modal-body > .checkmate-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 24px;
  width: 45%;
}

.modal > .modal-body > .checkmate-body > span {
  font-size: 1.5rem;
  text-align: center;
}

.modal > .modal-body > .checkmate-body .team {
  font-size: 20px;
  color: white;
}

.modal > .modal-body > .checkmate-body td:nth-child(2) {
  width: 100%;
}

.modal > .modal-body > .checkmate-body > button {
  background-color: #779556;
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-size: 28px;
  color: white;
}

.modal > .modal-body > .checkmate-body > button:hover {
  cursor: pointer;
}
