#chessboard {
  display: grid;
  grid-template-columns: repeat(14, 50px);
  grid-template-rows: repeat(14, 50px);
  width: 700px;
  height: 700px;
  background-color: black;
}

.modal {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal > .modal-body {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(50% - 350px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px 0;
}

.modal > .modal-body > img {
  height: 90px;
  padding: 20px;
  border-radius: 50%;
}

.modal > .modal-body > img:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.modal > .modal-body > .checkmate-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 45%;
}

.modal > .modal-body > .checkmate-body > span {
  font-size: 28px;
  color: white;
  text-align: center;
}

.modal > .modal-body > .checkmate-body .team {
  font-size: 20px;
  color: white;
}

.modal > .modal-body > .checkmate-body td:nth-child(2) {
  width: 100%;
}

.modal > .modal-body > .checkmate-body > button {
  background-color: #779556;
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-size: 28px;
  color: white;
}

.modal > .modal-body > .checkmate-body > button:hover {
  cursor: pointer;
}
