:root {
  /* strictly global css variables only */
  --tile-size: 3rem;

  /* size */
  --chess-piece-size: calc(var(--tile-size) * 0.85);
  --tile-highlight-size: calc(var(--tile-size) * 0.25);
  --tile-highlight-chess-piece-size: calc(var(--tile-size) * 0.9);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
