@media all and (min-width: 700px) {
  /* tablet landscape and desktop styles here */
  :root {
    --tile-size: 2.5rem;
  }
}

@media all and (max-width: 768px) {
  /* phone styles here */
  :root {
    --tile-size: calc(90vw / 14);
  }
}
